/*Color pallete
#eaece5
#b2c2bf
#c0ded9
#3b3a30
*/
body {
	border-color:#3b3a30;
	padding: 20px;
	background-color: #eaece5;
	text-align: center;
	color: black;
	font-family: Segoe UI, ArialRoundedMTBold;
	width:96%;
	margin:auto;
}
a {
	text-decoration:none;
	color:inherit;
}
.header {
	background-color:white;
	border-style:solid;
	border-color: inherit;
	border-width: 4px;
	border-radius:8px;
}
.content {
	font-size:1.5em;
	padding:inherit;
	padding-top:10px;
	text-align:justify;
	background-color:#c0ded9;
	border-radius:20px;
}
.content .title {
	font-size:1.3em;
	display:block;
}
.footer {
	color:white;
	background-color:#3b3a30;
	border-radius:8px;
	padding:1px;
}
/*Sidebar for events /w Twitter - Positioning*/
.sidebar {
	margin-left:20px;
	float:right;
	width:240px;
	border-style:solid;
	border-width:2px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-color:#3b3a30;
	background-color:#b2c2bf;
	padding-bottom:10px;
}
.sidebar .subheading {
	text-align:center;
	font-size:1.3em;
	display:block;
}
.sermons {
	text-align:left;
	padding-left:40px;
}
.sermons .title {
	padding-top:10px;
	line-height:0.4;
	font-size: 1em;
}
.sermons .desc {
	line-height:0.4;
	font-size: 0.9em;
}
.twitter-container {
	margin: 0px auto;
	padding-top:0px;
}
.twitter-timeline {
	border-radius:20px;
}
/*Navigation Bar - General setup */
.nav {
	background-color:#3b3a30;
	border-radius:8px;
	color: white;
	font-weight:bold;
	font-size:20px;
	border-color:#3b3a30;
	border-width:20px;
}
.nav ul {
	border-style:solid;
	border-width:4px;
	border-color:inherit;
	border-radius:8px;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav li {
	float:left;
}
.nav li a {
	display:block;
	text-align:center;
	padding: 14px 16px;
	text-decoration:none;
}
.nav li a:hover{
	background-color:#b2c2bf;
}
/*Dropdown - Navigation Bar*/
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
	max-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}